.card {
  justify-content: center;
  width: 320px;
  height: 497px;
  margin: auto; 
  display: block; 
  text-align:center; 
  background-color: white; 
  border-radius: 20px;
  margin-bottom: 50px; 
  box-shadow: 0 10px 4px rgba(0, 0, 0, 0.2); 
}

.img{
  width: 288px; 
  height: 288px; 
  border-radius: 10px; 
  margin: 15px 10px 20px 10px; 
}

.center{
  background-color: #D5E1EF;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.top-text{ 
  color: #1f314f; 
  font-size: 22px; 
  font-family: georgia; 
  font-weight: bold; 
  margin-bottom: 15px; 
}

.bottom-text{ 
  color: #7d889e; 
  font-size: 15px; 
  font-family: georgia; 
}